<div class="contents">
<% @informations.each do |information| %>
  <% if information.status == 1 %>
  <div class="container1">
    <div class="caption">
      <img src="<%= information.image %>">
      <h3><%= information.title %></h3>
        <p><a href="/informations/<%= information.id %>/buy" class="btn btn-primary" role="button">購入する</a></p>
    </div>
  </div>
  <% end %>
<% end %>
</div>

