<div class="container">

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="assets/sell.jpeg" alt="出品する">
      <div class="caption">
        <h3>出品する</h3>
        <p><a href="informations/new" class="btn btn-primary" role="button">出品する</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="assets/buy.jpeg" alt="購入する">
      <div class="caption">
        <h3>購入する</h3>
        <p><a href="informations/product" class="btn btn-primary" role="button">購入する</a></p>
      </div>
    </div>
  </div>
</div>

</div>

